<footer>
  {{ partial "foot_custom.html" . }}
  {{ partial "footer_highlightjs" . }}
  {{ with .Site.Params.footer }}
  <hr>
  <div class="copyright">{{ . | markdownify }}</div>
  <script type="text/javascript" src="//rf.revolvermaps.com/0/0/6.js?i=5jrwkkwemri&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=arial&amp;l=0&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
  {{ end }}
</footer>
</article>
{{ template "_internal/google_analytics.html" . }}
</body>

</html>
